.App{
    display: flex;
    flex-direction: column;
}

.welcomeMessage{
    display: flex;
    margin-top: 10px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.blog-header{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', 'sans-serif';
}

.btn-login, .btn-logout{
    background-color: cadetblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: '2rem';
}