.App{
    display: flex;
    flex-direction: column;
}

.welcomeMessage{
    display: flex;
    margin-top: 10px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.blog-header{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', 'sans-serif';
}