.write{
    padding-top: 50px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.coverImg{
    margin-right: 165px;
    margin-bottom: 0.5rem;
}

.writeImgUpload{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    justify-content: center;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-family: 'Calibri', 'sans-serif';
    font-size: 18px;
    height: 40vh;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: cadetblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}