.comment-form{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.commentImgUpload{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    justify-content: center;
}

.commentInput{
    font-size: 14px;
    padding: 20px;
    width: 30vw;
    resize: none;
}